<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<div>
		<h2>Current Parking Availability</h2>

		<h4> Select a parking structure to recieve notifications </h4>	 
		
		<ul class="parking">
			<li> Pangea </li>
			<li> Hopkins </li>
			<li> Osler </li>
			<li> Gilman </li>
		</ul>
	</div>	

	<div>
		<table>
			<tr>
				<th>Parking</th>
				<th>Reminders</th>
				<th>Settings</th>
			</tr>	
		</table>	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
