<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<div class="header">
		<h2>Available Parking</h2>
	</div>

	<div>
		<h4> Select a parking structure to recieve notifications </h4>	 
	</div>	


<!-- Eitehr use lists or just make multiple divs to separate different parking structures. Can use https://www.w3schools.com/w3css/w3css_mobile.asp as a referernce tool-->
	<div>
		<ul class="parking">
			<li> Pangea </li>
			<li> Hopkins </li>
			<li> Osler </li>
			<li> Gilman </li>
		</ul>
	</div>	

	<div class="footer">
		<table>
			<tr>
				<th>Parking</th>
				<th>Reminders</th>
				<th>Settings</th>
			</tr>	
		</table>	
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
