<!doctype html>

<html>
<head>
	<title>Add Permit Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body>
	<div>
		<h2>SELECT A PARKING PERMIT</h2>
	</div>	

	<div class="permits">
		<ul>
			<li> A PERMIT </li>
			<li> B PERMIT </li>
			<li> S PERMIT </li>
			<li> CARPOOL PERMIT </li>
			<li> DISABLED PERMIT </li>
		</ul>	
	</div>
	<div>
		<a href="Link to parking page"> CONTINUE TO PARKING NOW </a>
	</div>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>