<!doctype html>

<html>
<head>
	<title>Welcome Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>
<body>
	<h2> Welcome to our Parking App! </h2>

	<p>
	This is a parking assistant application aimed to help UCSD students more quickly find parking on campus.

	This application logs users in using TritonLink SSO, so it has access to user's current class schedules.

	It allows users to view current parking conditions across all parking lots and parking structures on campus in real-time.

	Users can enable notifications on a parking area of their choice to recieve updates as to when parking lots are filling up or are full.

	Users also have the ability to set reminders for when to leave their home in the morning to guaruntee parking on campus.
	</p>

	<div>
		<a href="link to login page"> CONTINUE </a>
	</div>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>